<%= form_with(model: animal, local: true) do |form| %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :birth %>
    <%= form.date_select :birth %>
  </p>

  <p>
    <%= form.label :kind %>
    <%= form.text_field :kind %>
  </p>

  <p>
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>