<div class="panel panel-default">
  <div class="panel-body">
    <div class="container-form col-sm-5">
      <p id="notice" class="alert alert-primary"><%= notice %></p>
      
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><strong>Name:</strong>
            <%= @animal.name %></td>
            
            <td><strong>Birth:</strong>
            <%= @animal.birth %></td>
            
            <td><strong>Kind:</strong>
            <%= @animal.kind %></td>
            
            <td><strong>Gender:</strong>
            <%= @animal.gender %></td>
          </tr>
        </tbody>
      </table>
      
      <%= link_to animals_path, :class => "btn btn-primary" do %> 
      <i class="fa fa-arrow-left"></i> Back
      <% end %>
      <%= link_to edit_animal_path, :class => "btn btn-primary" do %> 
      <i class="fa fa-edit"></i> Edit
      <% end %>
    </div>
  </div>
</div>
